<a href="https://colab.research.google.com/github/iam-hussain/my-practice-records/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:

from google.colab import files
 
 
uploaded = files.upload()

Saving auqa_data.csv to auqa_data (1).csv

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

url = 'auqa_data.csv'
data = pd.read_csv(url)
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                                                                                                                        important dataset
created_at              entry_id temperature turbidity dissolved_oxygen ph_value ammonia nitrate population fish_length       fish_weight
2021-06-19 00:00:05 CET 1889     24.875      100       4.505            8.43365  0.45842 193     50         7.11                     2.91
2021-06-19 00:01:02 CET 1890     24.9375     100       6.601            8.43818  0.45842 194     50         7.11                     2.91
2021-06-19 00:01:22 CET 1891     24.875      100       15.797           8.42457  0.45842 192     50         7.11                     2.91
2021-06-19 00:01:44 CET 1892     24.9375     100       5.046            8.43365  0.45842 193     50         7.11                     2.91

In [18]:
data_training = data[data['entry_id'] < '100001'].copy()
data_training

KeyError: ignored

In [17]:
training_data = data_training.drop(['created_at'], axis = 1)
training_data.head()

,entry_id,Temperature (C),Turbidity(NTU),Dissolved Oxygen(g/ml),PH,Ammonia(g/ml),Nitrate(g/ml),Population,Fish_Length(cm),Fish_Weight(g)
0,1889,24.8750,100,4.505,8.43365,0.45842,193,50,7.11,2.91
1,1890,24.9375,100,6.601,8.43818,0.45842,194,50,7.11,2.91
2,1891,24.8750,100,15.797,8.42457,0.45842,192,50,7.11,2.91
3,1892,24.9375,100,5.046,8.43365,0.45842,193,50,7.11,2.91
4,1893,24.9375,100,38.407,8.40641,0.45842,192,50,7.11,2.91

In [20]:
scaler = MinMaxScaler()
training_data = scaler.fit_transform(training_data)
training_data

array([[0.00000000e+00, 4.91803279e-01, 1.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [7.34036540e-06, 5.08196721e-01, 1.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.46807308e-05, 4.91803279e-01, 1.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [9.99977979e-01, 2.29508197e-01, 9.19191919e-01, ...,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [9.99985319e-01, 2.29508197e-01, 9.19191919e-01, ...,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 2.29508197e-01, 9.19191919e-01, ...,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00]])

In [23]:
x_train = []
y_train = []

In [24]:
for i in range(600, training_data.shape[0]):
  x_train.append(training_data[i-600:i])
  y_train.append(training_data[i,0])

In [25]:
x_train, y_train = np.array(x_train), np.array(y_train)

In [27]:
x_train.shape, y_train.shape

((67766, 600, 10), (67766,))

# Building LSTM

In [29]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [42]:
regressior = Sequential()

regressior.add(LSTM(units = 50, activation='relu', return_sequences = True, input_shape = (x_train.shape[1], 5)))
regressior.add(Dropout(0.2))

regressior.add(LSTM(units = 100, activation='relu', return_sequences = True))
regressior.add(Dropout(0.3))

regressior.add(LSTM(units = 300, activation='relu', return_sequences = True))
regressior.add(Dropout(0.4))

regressior.add(LSTM(units = 500, activation='relu'))
regressior.add(Dropout(0.5))

regressior.add(Dense(units = 1))

In [43]:
regressior.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_5 (LSTM)               (None, 600, 50)           11200

 dropout_5 (Dropout)         (None, 600, 50)           0

 lstm_6 (LSTM)               (None, 600, 100)          60400

 dropout_6 (Dropout)         (None, 600, 100)          0

 lstm_7 (LSTM)               (None, 600, 300)          481200

 dropout_7 (Dropout)         (None, 600, 300)          0

 lstm_8 (LSTM)               (None, 500)               1602000

 dropout_8 (Dropout)         (None, 500)               0

 dense_1 (Dense)             (None, 1)                 501

=================================================================
Total params: 2,155,301
Trainable params: 2,155,301
Non-trainable params: 0
_________________________________________________________________

In [44]:
regressior.compile(optimizer="adam", loss='mean_squared_error')

In [2]:
regressior.fit(x_train, y_train, epochs=10, batch_size=32)

NameError: ignored